<html>
	<head>
			<meta charset="ISO-8859-1">
			<title>Insert title here</title>
			<script src="https://accounts.google.com/gsi/client" async></script>
	</head>
	<body>

			<h1>Welcome to the Demo</h1>
		  	
			<div id="g_id_onload"
			     data-client_id="741191046977-j8iempc1nag2p03g7jultlbfeuhee4rr.apps.googleusercontent.com"
			     data-context="signin"
			     data-callback="handleCredentialResponse"
			     data-auto_prompt="true"
			     >
			     
			</div>


			
		    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		    <script>
		  		  // decodeJwtResponse() is a custom function defined  to decode the credential response.
				  function decodeJwtResponse(token) {
				        let base64Url = token.split('.')[1]
				        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
				        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
				            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
				        }).join(''));
				        console.log(jsonPayload);
				        return JSON.parse(jsonPayload)
				    }
				 
		 
		 		 window.handleCredentialResponse=async (response)=> {
				 	 	console.log(response)
				   		// const responsePayload = decodeJwtResponse(response.credential);
				   	 
					    //AJAX Post request to verify ID token on server side  	
					   	$.post({
					    url: "/verify",
					    data:response.credential,
					    success: function(response) {
					        // Handle the successful response from the server
					        //console.log(JSON.parse(response));
					         console.log(response);
					    },
					    error: function(xhr, status, error) {
					        // Handle errors
					        console.error("Error:", status, error);
					        $("#response").html("Error occurred: " + status);
					    }
				  });
		  		}
		</script>
</body>
</html>